# Dependencies
node_modules/
**/node_modules/

# Environment variables & secrets
.env
**/.env
.env.*
**/.env.*
!.env.example
!**/.env.example

# Production builds
dist/
**/dist/
build/
**/build/

# Logs
*.log
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating System Files
.DS_Store
Thumbs.db
